soap/DEV/TravelinkCEService_5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.comtec-europe.net/webapi/common" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.comtec-europe.net/webapi/common">
  <xs:element name="SupplierDetail" type="tns:SupplierDetail"/>
  <xs:complexType name="SupplierDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Code" type="xs:string"/>
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>